---
import SickleHammer from "./icons/SickleHammer.astro";
---

<div class="bg-commie py-24 pb-28">
  <div
    class="relative flex flex-col gap-8 text-center text-white border border-yellow-400 w-2/3 mx-auto py-20 px-8"
  >
    <slot />
    <span
      class="absolute bg-commie bottom-0 left-1/2 -translate-x-1/2 translate-y-1/2 px-6"
    >
      <SickleHammer size={3} />
    </span>
  </div>
</div>
