---
import type { Chapter } from "../../core/Chapter";
import Navigation from "../navigation/Navigation.astro";

interface Props {
  chapter: Chapter;
}

const { chapter } = Astro.props;
---

<Navigation chapter={chapter} />
<article>
  <header
    class="flex flex-col gap-4 text-center bg-commie text-white py-10 -mt-1 rounded-b-md"
  >
    <h1 class="text-2xl font-cover-subtitle">
      The socialist guide to surviving in Capitalism
    </h1>
    <h2
      class="border-t pt-4 w-fit mx-auto text-5xl font-cover-title max-w-[70%]"
    >
      {chapter.data.title}
    </h2>
  </header>
  <div
    class="py-8 mx-3 prose prose-xl prose-stone prose-p:my-2 prose-headings:mt-10 prose-headings:mb-6"
  >
    <slot />
  </div>
</article>
