---
interface Props {
  href: string;
  title: string;
  rel?: string;
  class?: string;
  newTab?: boolean;
  disabled?: boolean;
}

const { href, title, rel, newTab, disabled, class: className } = Astro.props;
---

{
  disabled ? (
    <span class="text-amber-500 opacity-30">
      <slot />
    </span>
  ) : (
    <a
      class={`${className} text-amber-500 hover:text-commie`}
      href={href}
      title={title}
      rel={rel}
      target={newTab ? "_blank" : "_self"}
    >
      <slot />
    </a>
  )
}
