@font-face {
  font-family: freich;
  font-display: optional;
  src: url(/fonts/freich.woff2),
    url(/fonts/freich.woff);
}

@font-face {
  font-family: freich-fill;
  font-display: optional;
  src: url(/fonts/freich-fill.woff2),
    url(/fonts/freich-fill.woff);
}

@font-face {
  font-family: braveold-regular;
  font-display: optional;
  src: url(/fonts/braveold-regular.woff2),
    url(/fonts/braveold-regular.woff);
}