---
import type { Config } from "../framework/config";
import "../styles/fonts.css";
export interface Props {
	title: string;
	lang?: string;
}

const { title, lang } = Astro.props;
const { VERCEL_ANALYTICS_ID, ENV } = process.env;
const config: Config = {
	analyticsId: VERCEL_ANALYTICS_ID || "",
};
---

<!DOCTYPE html>
<html lang={lang || "en"}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preload" href="/fonts/freich.woff2" />
		<link rel="preload" href="/fonts/freich-fill.woff2" />
		<link rel="preload" href="/fonts/braveold-regular.woff2" />
		<title>{title}</title>
		<style>
			html,
			body {
				height: 100%;
			}
		</style>
		{ENV === "production" && <script defer src="/_vercel/insights/script.js" />}
		<script define:vars={{ config }}>
			window.config = config;
		</script>
		<script>
			import { webVitals } from "../framework/vitals";
			const { analyticsId } = window.config;

			if (analyticsId !== "") {
				webVitals({
					analyticsId,
					debug: true,
				});
			}
		</script>
	</head>
	<body>
		<main class="max-w-3xl min-w-[400px] mx-auto">
			<slot />
		</main>
	</body>
</html>
